@import "../../Styles/themes";
@import "../../Styles/vars";

.algorithm-view-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    &__numbers {
        width: 60vw;

        display: flex;
        gap: 1px;
        height: 20px;
    }
}

@media screen and (max-width: $mobile-width){
    .algorithm-view-container {
        display: flex;

        &__numbers {
            width: 40vw;
        }
    }


}

@include themify($themes) {

    .number {
        background-color: themed("accent");


        &--red {
            background-color: red;
        }
    }
}

