
.algorithm-view-container {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    &__numbers {
        width: 60vw;
        padding-left: 8rem;
        padding-right: 8rem;
        display: flex;
        gap: 1px;
        height: 20px;
    }
}

.number {
    width: 1%;
    background-color: blue;
}