.material-symbols-outlined.dark {
    color: white;
    cursor: pointer;
}

.material-symbols-outlined.light {
    cursor: pointer;
    color: black;
}

.material-symbols-outlined {
    user-select: none;
    -moz-user-select: none;
}

.main-content-section {
    display: flex;
    flex: 1;
    height: 100%;
}