.material-symbols-outlined.dark {
    color: white;
    cursor: pointer;
}

.material-symbols-outlined.light {
    cursor: pointer;
}

.main-content-section {
    display: flex;
    flex: 1;
    height: 100%;
}